#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  background-color: #645cff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.title {
  color: #fff;
  font-weight: 500;
}
.products-box {
  position: relative;
}
.icon-1 {
  width: 45px;
  height: 45px;
  color: #fff;
}
.products-number {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgba(192, 192, 192, 0.818);
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  border-radius: 50%;
}
/*main*/
.container {
  margin-top: 70px;
  width: 55%;
  text-align: center;
}
.total-box {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-total {
  font-size: 20px;
}
.total-price {
  background-color: #645cff;
  font-size: 20px;
  padding: 3px 10px;
  border-radius: 5px;
  color: #fff;
}
.main-title {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 30px;
}
.clear-btn {
  color: #645cff;
  background-color: #c1beff;
  border: none;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.clear-btn:hover {
  transition: 0.5s;
  color: #fff;
  background-color: #3c3799;
}
/*List*/
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
  border-bottom: 2px solid #b9c2cf;
}
.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-item-minibox {
  display: flex;
  align-items: center;
  gap: 30px;
}
.info-box {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 5px;
}
.mobile-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.phone-name {
  font-size: 21px;
  font-weight: 550;
  color: #334155;
}
.phone-price-p {
  color: #64748b;
}
.remove-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #645cff;
  width: 50px;
  transition: 0.3s;
}
.remove-btn:hover {
  transition: 0.3s;
  color: #4b45b7;
}
.list-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-2 {
  width: 23px;
  height: 23px;
  color: #645cff;
  cursor: pointer;
  transition: 0.3s;
}
.icon-2:hover {
  transition: 0.3s;
  color: #4b45b7;
}
.phones-number {
  font-size: 20px;
  font-family: sans-serif;
}
